name: CI (Test and Validate)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Test Suite
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./server  

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: myuser
          POSTGRES_PASSWORD: mypassword
          POSTGRES_DB: job_tracker_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U myuser -d job_tracker_test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5


    env:
      DATABASE_URL: ${{ secrets.TEST_DATABASE_URL }}
      JWT_SECRET: ${{ secrets.TEST_JWT_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1


      
      - name: Install dependencies
        run: bun install

      - name: Run migrations
        run: bun run prisma migrate deploy

      - name: Run tests
        run: bun test